openapi: 3.2.0
info:
  title: Tesla Fleet Energy Programs API
  description: The energy_sites surface of the Tesla Fleet API.
  version: 1.0.0
  contact:
    name: Tesla Developer Support
    url: https://developer.tesla.com/docs/fleet-api/support/contact
  license:
    name: Tesla Developer Terms
    url: https://developer.tesla.com/teslaplatform/developerterms
servers:
- url: https://fleet-api.prd.na.vn.cloud.tesla.com/api/1
  description: North America Production
- url: https://fleet-api.prd.eu.vn.cloud.tesla.com/api/1
  description: Europe / Middle East / Africa Production
security:
- BearerAuth:
  - energy_device_data
  - energy_cmds
tags:
- name: Programs
  description: Virtual power plant and grid-services program participation
paths:
  /energy_sites/{site_id}/programs:
    get:
      summary: Tesla Get Energy Site Programs
      description: Returns virtual power plant and grid-services programs the site is eligible for and currently enrolled in (e.g., regional VPP, demand response).
      operationId: getEnergySitePrograms
      tags:
      - Programs
      parameters:
      - $ref: '#/components/parameters/SiteId'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgramsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    SiteId:
      name: site_id
      in: path
      required: true
      description: The energy_site_id returned by /products.
      schema:
        type: string
  schemas:
    ProgramsResponse:
      type: object
      properties:
        response:
          type: array
          items:
            $ref: '#/components/schemas/Program'
    Error:
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
    Program:
      type: object
      properties:
        name:
          type: string
        enrolled:
          type: boolean
        eligibility_status:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: oauth2
      description: Tesla Fleet API OAuth 2.0 with PKCE. Scopes energy_device_data (read) and energy_cmds (write) required for the energy_sites endpoints.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.tesla.com/oauth2/v3/authorize
          tokenUrl: https://auth.tesla.com/oauth2/v3/token
          scopes:
            energy_device_data: Read energy site data
            energy_cmds: Send commands to energy sites
            offline_access: Refresh tokens
